Source: kimageformats
Section: kde
Priority: optional
Maintainer: Debian/Kubuntu Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Maximiliano Curia <maxy@debian.org>
Build-Depends: cmake (>= 3.0~),
               debhelper (>= 11~),
               extra-cmake-modules (>= 5.41.0~),
               libkf5archive-dev,
               libopenexr-dev,
               pkg-config,
               pkg-kde-tools (>= 0.15.15ubuntu1~),
               qtbase5-dev (>= 5.7.0~),
Standards-Version: 4.1.2
Homepage: https://projects.kde.org/projects/frameworks/kimageformats
Vcs-Browser: https://anonscm.debian.org/git/pkg-kde/frameworks/kimageformats.git
Vcs-Git: https://anonscm.debian.org/git/pkg-kde/frameworks/kimageformats.git

Package: kimageformat-plugins
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: additional image format plugins for QtGui
 This framework provides additional image format plugins for QtGui.  As
 such it is not required for the compilation of any other software, but
 may be a runtime requirement for Qt-based software to support certain
 image formats.
 .
 This package is part of KDE Frameworks.
